<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1>Welcome to Vynl</h1>
    </div>
    <div class="col-sm-6">
      <%= render 'parties/form' %>
    </div>
  </div>
</div>
