// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player-panel {
  .glyphicon {
    font-size: 48px;
    padding-top: 15px;
  }
  .noplay-text {
    padding-top: 25px
  }
}
