<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand" href="/">Vynl</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/parties">Parties</a></li>
        <li><a href="/songs">Songs</a></li>
        <li><a href="/users">Users</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li>
          <p class="navbar-text metadata">
            <span class="now-playing-song-name"></span>
            <br>
            <span class="song-artist"></span>
            <span class="song-album"></span>
          </p>
        </li>

        <li>
          <a class="navbar-brand">
            <div class="album-art album-art-header"></div>
          </a>
        </li>
        <li>
          <a class="glyphicon glyphicon-play play"></a>
        </li>
        <li>
          <a class="glyphicon glyphicon-step-forward"></a>
        </li>
        <li>
          <span class="navbar-text">
            Howdy, <span id='user_name'><%= link_to "#{current_user.nickname}", edit_user_path(current_user) %></span>
            <%= link_to '', edit_user_path(current_user), :class => "glyphicon glyphicon-pencil" %>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
